*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: rgb(4, 29, 29);
}
.container{
	width: 400px;
	padding: 33px;
	text-align: center;
	background-color: #fff;
	margin-left: 33%;
	margin-top: 50px;
}

.input-div{
	display: flex;
	gap: 7px;
}

h1{
	margin-bottom: 15px;
}

input{
	width: 270px;
	padding: 8px;
	border: 2px solid rgb(6, 145, 145);
	outline: none;
	font-size: 19px;
}

button{
	width: 60px;
	height: 41px;
	background-color: rgb(4, 29,29);
	color: white;
	border-radius: 2px;
	font-size: 19px;
	border: none;
	outline: none;
	cursor: pointer;
}


.text ul{
	position: relative;
	background-color: rgb(5, 31, 31);
	color: white;
	font-size: 19px;
	text-align: left;
	padding: 15px;
	margin-top: 15px;
}

.text ul i{
	position: absolute;
	right: 10px;
	cursor: pointer;
	font-size: 25px;
}

